.article {
  display: grid;

  grid:
    ' .            content        aside      '
    / var(--side) var(--middle) var(--side);
  grid-gap: 0 var(--gap);

  --middle: minmax(24rem, 42rem);
  --side: minmax(min-content, 1fr);
  --gap: 1rem;

  p {
    margin: 1.5em 0;

    line-height: 1.33;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0.5em 0;
  }

  figure {
    margin: 1em 0;
  }

  figcaption {
    margin-top: 0.5em;

    font-size: 0.8em;
    text-align: center;
  }

  table {
    margin: 0 auto;

    th,
    td {
      padding: 0.5em;

      text-align: center;
    }
  }

  ol,
  ul {
    padding-left: 1.5em;
  }

  blockquote {
    font-style: italic;
  }
}

.content {
  grid-column: content;
}
