<!DOCTYPE html>
<html lang="{{ config.lang }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ config.url }}/feed.xml"/>
    {% include "partials/meta.njk" %}
    <link rel="icon" href="/favicon.png" type="image/png"/>

    {% block head %}{% endblock %}

    {% if env.IS_DEV %}
      <link rel="stylesheet" href="/css/tailwind.css"/>
      <link rel="stylesheet" href="/css/app.css"/>
    {% else %}
      <style>
        {% include "../../../dist/css/tailwind.css" %}
        {% include "../../../dist/css/app.css" %}
      </style>
    {% endif %}

    <script src="/js/app.js" defer="defer"></script>
  </head>
  <body class="flex flex-col min-h-screen">
    {% include "partials/header.njk" %}
    <main class="max-w-4xl w-full mx-auto px-4 py-12 justify-between flex-grow">
      {% block content %}{% endblock content %}
    </main>
    {% include "partials/footer.njk" %}

    {% if not env.IS_DEV %}
      {% include "partials/analytics.njk" %}
    {% endif %}
  </body>
</html>
