{% extends 'layouts/base.njk' %}

{# Populate <head> with post-related assets #}
{% block head %}
  {% if config.syntaxTheme %}
    <link rel="preload" as="style" href="/css/{{ config.syntaxTheme }}"/>
    <link rel="stylesheet" href="/css/{{ config.syntaxTheme }}"/>
  {% endif %}
{% endblock %}

{% block content %}
  <article class="prose">
    {% if date %}
      <time datetime="{{ date | htmlDate }}">{{ date | dateFilter }}</time>
    {% endif %}
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>
  {% if tags.length %}
    <hr/>
    <h5 class="mt-4 font-bold">Tags</h5>
    <nav class="flex">
      {% for tag in tags %}
        <a class="block mr-3 last:mr-0 underline" href="/blog/tag/{{tag}}/">{{tag}}</a>
      {% endfor %}
    </nav>
  {% endif %}
{% endblock %}
