.layout {
  display: grid;

  grid-template-rows: [navigation] auto [body] 1fr;
  min-height: 100vh;

  @media (max-width: 36rem) {
    grid-template-rows:
      [body] minmax(calc(100vh - 54px), 1fr)
      [navigation] 54px;
  }
}

.page-body {
  display: grid;
  grid-row: body;
  grid-template-rows: [main] 1fr [footer] auto;

  overflow-y: scroll;
}
.page-navigation {
  grid-row: navigation;
}

main {
  grid-row: main;
}

.page-footer {
  grid-row: footer;
}
