.layout {
  display: grid;

  grid-template-rows: [navigation] auto [body] 1fr;
  min-height: 100vh;

  @media (max-width: 48rem) {
    grid-template-rows:
      [body] calc(100vh - 4em)
      [navigation] 4em;
  }
}

.page-body {
  display: grid;
  grid-row: body;
  grid-template-rows: [main] 1fr [footer] auto;

  overflow-y: auto;
}

.page-navigation {
  grid-row: navigation;
}

main {
  grid-row: main;
}

.page-footer {
  grid-row: footer;
}
