.check {
  display: flex;

  cursor: pointer;

  &__input {
    position: absolute;

    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked ~ .check__image path {
      fill: white;
    }

    &:focus ~ .check__image {
      outline: thin dotted;
    }
  }
}
