main {
  position: relative;

  @media (max-width: 36em) {
    margin-top: 0;
  }
  margin-top: 10em;

  font-size: 1.15rem;

  .introducion {
    font-size: 1.33em;

    .name {
      color: var(--accent-color);
      font-weight: bold;
    }
  }
}
