.main-wrapper {
  font-size: 1.15rem;

  .introducion {
    font-size: 1.33em;

    .name {
      color: var(--accent-color);
      font-weight: bold;
    }
  }
}

.wrapper {
  max-width: var(--breakpoint);

  margin: 0 auto;
  padding: var(--desktop-padding);

  @media (max-width: 36rem) {
    padding: var(--mobile-padding);
  }
}
