.main-wrapper {
  display: grid;

  grid: 'image description' / 1fr 1fr;

  @media (max-width: 48rem) {
    grid: 'image' 'description' / 1fr 1fr;
  }

  font-size: 1.15rem;

  .description {
    grid-area: description;

    .introduction {
      font-size: 1.33em;

      .name {
        color: var(--accent-color);
        font-weight: bold;
      }
    }
  }

  .image {
    grid-area: image;
    width: 100%;

    text-align: center;
  }
}
