.page-header {
  color: var(--accent-color);

  .nav {
    padding: 0;

    list-style: none;

    :not(:first-child) {
      margin-left: 16px;
    }
  }

  .nav-item {
    display: inline;

    a {
      text-decoration: none;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }

  .active {
    font-weight: bold;
  }
}
