@font-face {
  font-family: 'Fira Code VF';
  src: url('../assets/fonts/FiraCode-VF.ttf');
}

@font-face {
  font-family: 'Montserrat VF';
  src: url('../assets/fonts/Montserrat-VF.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: 'Montserrat VF';
  font-variation-settings: 'wght' 700;
  src: url('../assets/fonts/Montserrat-VF.woff2') format('woff2-variations');
  font-display: swap;
}
