:root {
  --pink: #f94d82;
  --light-grey: #fcfcfc;
  --dark-grey: #acacac;
  --dark-blue: #364f6b;
  --light-blue: #3fc1c9;

  --font-size: 16px;

  --desktop-padding: 1.625rem 1.3125rem;
  --mobile-padding: 0.6rem 0.8rem;

  --breakpoint: 48rem;
}

html {
  font-family: 'Montserrat VF', Arial, system-ui, -apple-system, sans-serif;
}

a {
  color: var(--primary-color);
}

a:focus {
  outline: thin dotted;
}

p {
  margin: 0.5em 0;
}

body {
  --primary-color: var(--dark-blue);
  --background-color: var(--light-grey);

  --accent-color: var(--pink);
  --secondary-color: var(--light-blue);

  color: var(--primary-color);

  font-size: var(--font-size);

  background-color: var(--background-color);

  @media (max-width: 48rem) {
    font-size: 0.875rem;
  }

  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: background-color, color, fill;
}

body.dark {
  --primary-color: var(--light-grey);
  --background-color: var(--dark-blue);

  -webkit-font-smoothing: antialiased;
}

.wrapper {
  width: 100%;
  max-width: var(--breakpoint);

  margin: 0 auto;
  padding: var(--desktop-padding);

  @media (max-width: 48rem) {
    padding: var(--mobile-padding);
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
