<!-- Cloudflare Web Analytics -->
<!-- https://dash.cloudflare.com/ac5ec5db239c906169d704cff73a2f96/web-analytics/overview -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "1068fa54f35145e281114d9278ebab6d"}'></script>
<!-- End Cloudflare Web Analytics -->

<!-- Panelbear Analytics - We respect your privacy -->
<!-- https://app.panelbear.com/sites/4rpv8e4mwAK/overview/ -->
<script async src="https://cdn.panelbear.com/analytics.js?site=4rpv8e4mwAK"></script>
<script>
    window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
    panelbear('config', { site: '4rpv8e4mwAK' });
</script>
